* { 
    outline: 1px dotted red;
}

* { 
    margin: 0px;
    padding: 0px;
}

.wrapper {
    background-color: #245076;
    width: 970px;
    height: 1000px;
    margin: 0 auto;
}

#main_image {
    width: 400px;
    height: 110px;
    padding-left: 20px;
}

.header {
    display: inline-block;
    vertical-align: top;
    margin-left: 300px;
}

.header p {
    color: white;
    font-family: 'Poppins', sans-serif;
}