<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mt-2">Success! Welcome, {{user.first_name}}!</h1>
            </div>
            <div class="col-md-2">
                <a href="user/logout">Log Out</a>
            </div>
        </div>
    </div>
</body>
</html>