<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Users with Templates</title>
</head>
<body>
    <div class="container text-center">
        <h1>All the Users</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Age</th>
                </tr>
            </thead>
            <tbody>
                {% for id in users %}
                <tr>
                    <th scope="row">{{id.id}}</th>
                    <td>{{id.first_name}} {{id.last_name}}</td>
                    <td>{{id.email}}</td>
                    <td>{{id.age}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h1 class="text-center">Add a User</h1>
    <div class="container">
        <form action="/create_user" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center mt-2">
                <div class="col-sm-1">
                    <label for="first_name" class="col-form-label">First Name</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="first_name">
                </div>
                <div class="col-sm-1">
                    <label for="last_name" class="col-form-label">Last Name</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="last_name">
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-sm-1">
                    <label for="email" class="col-form-label">Email</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="col-sm-1">
                    <label for="age" class="col-form-label">Age</label>
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="age">
                </div>
            </div>
            <button class="btn btn-secondary mt-4 mx-auto d-block">Add</button>
        </form>
    </div>
</body>
</html>